<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>LoginForm</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>welcome.jsp</welcome-file>
    <welcome-file>Deposit.jsp</welcome-file>
    <welcome-file>Withdraw.jsp</welcome-file>
    <welcome-file>Admin.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginFile</display-name>
    <servlet-name>LoginFile</servlet-name>
    <servlet-class>com.loginform.LoginFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginFile</servlet-name>
    <url-pattern>/LoginFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.loginform.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sign</display-name>
    <servlet-name>sign</servlet-name>
    <servlet-class>com.loginform.sign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sign</servlet-name>
    <url-pattern>/sign</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Selection</display-name>
    <servlet-name>Selection</servlet-name>
    <servlet-class>com.loginform.Selection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Selection</servlet-name>
    <url-pattern>/Selection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deposit</display-name>
    <servlet-name>Deposit</servlet-name>
    <servlet-class>com.loginform.Deposit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deposit</servlet-name>
    <url-pattern>/Deposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Withdraw</display-name>
    <servlet-name>Withdraw</servlet-name>
    <servlet-class>com.loginform.Withdraw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Withdraw</servlet-name>
    <url-pattern>/Withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Money</display-name>
    <servlet-name>Money</servlet-name>
    <servlet-class>com.loginform.Money</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Money</servlet-name>
    <url-pattern>/Money</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin</display-name>
    <servlet-name>admin</servlet-name>
    <servlet-class>com.loginform.admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
</web-app>